<div class="page-header container">
    <div class="navbar navbar-default container schmite">
        <ul class="nav navbar-inner pull-right nav-pills">
            <li>{{#link-to 'login'}}Login{{/link-to}}</li>
            <li>{{#link-to 'join'}}Create Account{{/link-to}}</li>
        </ul>
    </div>
    <div class="btn-group">
        <button class="btn btn-default">{{#link-to 'index'}}Statistics{{/link-to}}</button>
        <button class="btn btn-default">{{#link-to 'temperatures'}}Temperatures{{/link-to}}</button>
    </div>
</div>

<div class="container">
	{{outlet}}	
</div>

<footer class="container">
	<p>CI 285 Functional Programming </p>
</footer>