<div class="navbar navbar-default container ">
	{{#link-to 'index'}}<h1 class="">Home</h1>{{/link-to}}
    <ul class="nav navbar-inner pull-right">
        <li>{{#link-to 'login'}}Login{{/link-to}}</li>
    </ul>
</div>

<div class="">
	<h1>Hello World</h1>
	<p>There is no place like home </p>
</div>