<div>
    {{username}}
</div>

<div>
    <h1>Location</h1>
    <li class="list-group-item">
        <div class="story-title"> tmp </div>
        <p class="small gray"> Lala </p>
    </li>
</div>

<div>
    <h1>Temperature</h1>
</div>
