<div class="btn-group pull-right">
    <button class="btn btn-default">{{#link-to 'user.index'}}All users{{/link-to}}</button>
    <button class="btn btn-default">{{#link-to 'user.location'}}Location{{/link-to}}</button>
</div>

<div class="clear-fix">
    {{outlet 'user'}}
</div>