@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);
@import url(http://fonts.googleapis.com/css?family=Trocchi);

body{
    font-family: 'Open Sans';
    font-weight: 400;

    margin-left: auto;
    margin-right: auto;
}


.clear-fix{
    clear: both;
}

.schmite {
    background-color: #ecf0f1;
}

footer{
    border-top: 1px solid #bdc3c7;
}

.center{
    text-align: center;
}

h1 {
    font-family: 'Lato';
    font-size: 4.5em;
    font-weight: 100
}

.input-group
{
    margin-top: 10px;
    margin-bottom: 5px;
}

.input-group-addon
{
    width: 15%;
    text-align: right;
}

.small-center-list {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

.small-width {
    margin-top: 5%;
    width: 30%;
}

.locations {

}

.move-down{
    margin-top: 6%;
}